server:
  port: 8080

spring:
  application:
    name: api-gateway
  banner:
    location: classpath:/banner.txt
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: ${JWT_SECRET_KEY:some-secret-jwt-key}
  cloud:
    config:
      enabled: true
      uri: http://localhost:8888
      fail-fast: true
      retry:
        initial-interval: 5000
        max-attempts: 3
        max-interval: 5000
        multiplier: 1.2
  config:
    import: "optional:configserver:http://localhost:8888"

app:
  security:
    access-token-max-age: 3600
    refresh-token-max-age: 2592000

eureka:
  instance:
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost

logging:
  file:
    name: ./logs/api-gateway.log