server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active: jdbc
  datasource:
    url: jdbc:postgresql://localhost:5432/config_db
    username: config_user
    password: config_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
  cloud:
    config:
      server:
        default-profile: jdbc
        jdbc:
          enabled: true
          sql: "SELECT prop_key, prop_value FROM config_properties WHERE application=? AND profile=? AND label=?"
        default-label: master

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
    info:
      access: read_only

logging:
  level:
    ru.pricat: INFO
    org.flywaydb: ERROR
    com.netflix.discovery.DiscoveryClient: ERROR
    org.springframework.cloud.netflix.eureka: ERROR
    root: ERROR
