app:
  security:
    auth-service-lb-url: http://auth-service
    access-token-max-age: 3600
    refresh-token-max-age: 43000
    access-token-expiration-threshold: 300
  rabbitmq:
    exchange-name: etl-e
    queue-name: etl-q
    queue-type: quorum
    delivery-limit: 3
    message-ttl: 43200000
    routing-key: data.item.*
    dl-exchange-name: etl-dle
    dl-queue-name: etl-dlq
    dl-queue-type: classic
    dl-message-ttl: 86400000
    dl-routing-key: dl.data.item.*
    s3-event-exchange-name: s3minio.direct
    s3-event-queue-name: s3minio.event.queue
    s3-event-queue-type: classic
    s3-event-routing-key: s3minio.pricat.events
    s3-event-consumer-enabled: true
    retry-max-attempts: 3
    retry-initial-interval: 2000
    retry-multiplier: 2
    retry-max-interval: 10000
    batch-size: 20

server:
  port: 8086
  compression:
    enabled: true
    min-response-size: 2KB
  error:
    whitelabel:
      enabled: true
  ssl:
    enabled: false

spring:
  application:
    name: search-service
  banner:
    location: classpath:/banner.txt
    charset: UTF-8
  main:
    allow-circular-references: true
  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: ${JWT_SECRET_KEY}
  data:
    rest:
      base-path: /rest
  datasource:
    url: jdbc:postgresql://localhost:5436/${SEARCHSERVICE_PG_DATABASE:-search_db}
    username: ${SEARCHSERVICE_PG_USERNAME:-search_user}
    password: ${SEARCHSERVICE_PG_PASSWORD:-search_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: false
    open-in-view: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    create-schemas: true
    default-schema: datasearchengine
    locations: classpath:db/migration
  thymeleaf:
    cache: false
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  elasticsearch:
    uris: http://localhost:9200
  cloud:
    config:
      enabled: false
      uri: http://localhost:8888
      fail-fast: true
      retry:
        initial-interval: 5000
        max-attempts: 3
        max-interval: 5000
        multiplier: 1.2
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost

resilience4j:
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: 1s
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2
        ignore-exceptions:
          - org.springframework.web.client.HttpClientErrorException
          - ru.pricat.exception.AuthServiceException
    instances:
      auth-service:
        base-config: default
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 50
        failure-rate-threshold: 50
        wait-duration-in-open-state: 30s
    instances:
      auth-service:
        base-config: default
  ratelimiter:
    configs:
      default:
        limit-for-period: 100
        limit-refresh-period: 1s
    instances:
      auth-service:
        base-config: default

management:
  endpoints:
    access:
      default: read_only
    web:
      exposure:
        include: "*"
      base-path: /actuator
  health:
    defaults:
      enabled: true
    rabbit:
      enabled: true
  endpoint:
    health:
      show-details: always
      show-components: always

logging:
  level:
    ru.pricat: INFO
    org.springframework.amqp: ERROR
    org.springframework.integration: ERROR
    software.amazon.awssdk: INFO
    org.springframework.cloud.config: INFO
    org.springframework.web.client.RestTemplate: INFO
    com.netflix.discovery.shared.resolver.aws.ConfigClusterResolver: WARN
  file:
    name: logs/search-service.log
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
